<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="GleamTech.Common" version="5.4.0" />
  <package id="GleamTech.VideoUltimate" version="3.4.0" />
  <package id="GleamTech.ImageUltimate" version="5.4.0" />
  <package id="GleamTech.DocumentUltimate" version="6.4.0" />
  <package id="GleamTech.FileUltimate" version="8.4.0" />
</packages>