<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--
    <add key="FileUltimate:LicenseKey" value="QQJDJLJP34..." />
    -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <!-- 
    Setting maxRequestLength (in KB) to match default value 30000000 (28.6 MB) of 
    system.webServer/requestLimits/maxAllowedContentLength for ExampleFileSelector
    -->
    <httpRuntime maxRequestLength="29296" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- 
    FileUltimate does not depend on any Web.config settings to work (it's config-free for easy deployment).
    However if you want to support the lowest level upload method Html4 which is the only possible method 
    for old browsers without Html5 or Flash or Silverlight support, then you will need to increase the 
    request limits so that you can upload files larger than 4MB and 28.6 MB on these browsers.  
    Html4 upload method requires the limits to be set to the maximum possible value as it sends the whole
    file in a single request (multipart/form-data). Other upload methods use chunking so there is no upper limit 
    for them and they do not require these settings.
    For more information see, https://docs.gleamtech.com/fileultimate/html/optional-upload-configuration.htm
  -->
  <!-- This setting increases the request max size only for the specified path and not whole application -->
  <location path="fileuploader.ashx">
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 
            maxAllowedContentLength is in bytes, default value is 30000000 (28.6 MB), maximum value is 4294967295 (4 GB).
            However maximum value is 2147483647 (2 GB) when the application is running under the NET 4.5 Integrated Pipeline Application Pool.
            This setting effects FileUploader, as it is an IIS setting, FileUploader cannot automatically override it.
          -->
          <requestLimits maxAllowedContentLength="2147483647"/>
        </requestFiltering>
      </security>
    </system.webServer>
    <system.web>
      <!-- 
        maxRequestLength is in kilobytes, default value is 4096 (4 MB), maximum value is 2097151 (2 GB).
        This setting effects FileUploader only if you are running under server runtime lower than ASP.NET Classic 4.5 version, 
        i.e when FileUploader cannot automatically override it.
      -->
      <httpRuntime maxRequestLength="2097151"/>
    </system.web>
  </location>
</configuration>