<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GleamTech.Core" version="3.9.0" targetFramework="net40"/>
  <package id="VideoUltimate" version="1.9.15" targetFramework="net40"/>
  <package id="ImageUltimate" version="3.6.0" targetFramework="net40"/>
  <package id="DocumentUltimate" version="4.9.0" targetFramework="net40"/>
  <package id="FileUltimate" version="7.1.0" targetFramework="net40"/>
</packages>
