<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GleamTech.Core" version="1.8.2" targetFramework="net40"/>
  <package id="GleamTech.ExamplesCore" version="1.7.1" targetFramework="net40"/>
  <package id="VideoUltimate" version="1.4.1" targetFramework="net40"/>
  <package id="ImageUltimate" version="2.1.1" targetFramework="net40"/>
  <package id="DocumentUltimate" version="2.8.0" targetFramework="net40"/>
  <package id="FileUltimate" version="5.9.3" targetFramework="net40"/>
</packages>
