<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="GleamTech.Core" version="4.0.0" />
  <package id="VideoUltimate" version="2.0.0" />
  <package id="ImageUltimate" version="4.0.0" />
  <package id="DocumentUltimate" version="5.0.0" />
  <package id="FileUltimate" version="7.2.0" />
</packages>