<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="GleamTech.Common" version="5.8.0" />
  <package id="GleamTech.VideoUltimate" version="3.8.0" />
  <package id="GleamTech.ImageUltimate" version="5.8.0" />
  <package id="GleamTech.DocumentUltimate" version="6.8.0" />
  <package id="GleamTech.FileUltimate" version="8.7.0" />
</packages>