<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="GleamTech.Common" version="4.5.1" />
  <package id="GleamTech.VideoUltimate" version="2.5.5" />
  <package id="GleamTech.ImageUltimate" version="4.6.0" />
  <package id="GleamTech.DocumentUltimate" version="5.9.1" />
  <package id="GleamTech.FileUltimate" version="7.9.1" />
</packages>