
.syntaxhighlighter {
    background-color: white !important;
}
.syntaxhighlighter .line.alt1 {
    background-color: white !important;
}
.syntaxhighlighter .line.alt2 {
    background-color: white !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #E0E0E0 !important;
}
.syntaxhighlighter .line.highlighted.number {
    color: black !important;
}
.syntaxhighlighter table caption {
    color: black !important;
}
.syntaxhighlighter .gutter {
    color: #AFAFAF !important;
}
.syntaxhighlighter .gutter .line {
    border-right: 3px solid #6CE26C !important;
}
.syntaxhighlighter .gutter .line.highlighted {
    background-color: #6CE26C !important;
    color: white !important;
}
.syntaxhighlighter.printing .line .content {
    border: medium none !important;
}
.syntaxhighlighter.collapsed {
    overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
    background: none repeat scroll 0 0 white !important;
    border: 1px solid #6CE26C !important;
    color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a {
    color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
    color: red !important;
}
.syntaxhighlighter .toolbar {
    background: none repeat scroll 0 0 #6CE26C !important;
    border: medium none !important;
    color: white !important;
}
.syntaxhighlighter .toolbar a {
    color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
    color: black !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: black !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #008200 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: blue !important;
}
.syntaxhighlighter .keyword {
    color: #006699 !important;
}
.syntaxhighlighter .preprocessor {
    color: gray !important;
}
.syntaxhighlighter .variable {
    color: #AA7700 !important;
}
.syntaxhighlighter .value {
    color: #009900 !important;
}
.syntaxhighlighter .functions {
    color: #FF1493 !important;
}
.syntaxhighlighter .constants {
    color: #0066CC !important;
}
.syntaxhighlighter .script {
    color: #006699 !important;
    font-weight: bold !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: gray !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #FF1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important;
}
.syntaxhighlighter .keyword {
    font-weight: normal !important;
}
.syntaxhighlighter .xml.keyword, .syntaxhighlighter .css.plain, .syntaxhighlighter .js.string {
    color: #870000 !important;
}
.syntaxhighlighter .xml.color1, .syntaxhighlighter .xml.color1 a, .syntaxhighlighter .c-sharp.string, .syntaxhighlighter .vb.string, .syntaxhighlighter .css.keyword {
    color: #FF0000 !important;
}
.syntaxhighlighter .xml.color2, .syntaxhighlighter .xml.color2 a {
    color: #000000 !important;
}
.syntaxhighlighter .c-sharp.keyword, .syntaxhighlighter .vb.keyword, .syntaxhighlighter .js.keyword, .syntaxhighlighter .css.value {
    color: #0000FF !important;
}