@using GleamTech.ExamplesCore
@using GleamTech.FileUltimate
@using GleamTech.Web.Mvc
@{
    var exampleExplorer = new ExampleExplorer
    {
        FullViewport = true,
        NavigationTitle = "FileUltimate Examples",
        VersionTitle = "v" + FileUltimateConfiguration.AssemblyInfo.FileVersion,
        Examples = new ExampleBase[]
        {
            new ExampleFolder
            {
                Title = "FileManager",
                Children = new ExampleBase[]
                {
                    new Example
                    {
                        Title = "Overview",
                        Url = "filemanager/overview",
                        SourceFiles = new[] {"Views/FileManager/Overview.cshtml", "Controllers/FileManagerController.Overview.cs"},
                        DescriptionFile = "Descriptions/FileManager/Overview.html"
                    },
                    new Example
                    {
                        Title = "Using page layouts",
                        Url = "filemanager/layout",
                        SourceFiles = new[] {"Views/FileManager/Layout.cshtml", "Views/Shared/_Layout.cshtml", "Controllers/FileManagerController.Layout.cs"},
                        DescriptionFile = "Descriptions/FileManager/Layout.html"
                    },
                    new Example
                    {
                        Title = "Displaying control on demand",
                        Url = "filemanager/display",
                        SourceFiles = new[] {"Views/FileManager/Display.cshtml", "Controllers/FileManagerController.Display.cs"},
                        DescriptionFile = "Descriptions/FileManager/Display.html"
                    },
                    new Example
                    {
                        Title = "Events",
                        Url = "filemanager/events",
                        SourceFiles = new[] {"Views/FileManager/Events.cshtml", "Controllers/FileManagerController.Events.cs"},
                        DescriptionFile = "Descriptions/FileManager/Events.html"
                    },
                    new Example
                    {
                        Title = "Dynamic folder and permissions",
                        Url = "filemanager/dynamic",
                        SourceFiles = new[] {"Views/FileManager/Dynamic.cshtml", "Controllers/FileManagerController.Dynamic.cs"},
                        DescriptionFile = "Descriptions/FileManager/Dynamic.html"
                    },
                    new Example
                    {
                        Title = "File/Folder chooser",
                        Url = "filemanager/chooser",
                        SourceFiles = new[] {"Views/FileManager/Chooser.cshtml", "Controllers/FileManagerController.Chooser.cs"},
                        DescriptionFile = "Descriptions/FileManager/Chooser.html"
                    }
                }
            }
        },
        ExampleProjectName = "ASP.NET MVC (C#)",
        ExampleProjects = ExamplesCoreConfiguration.LoadExampleProjects(Server.MapPath("~/App_Data/ExampleProjects.json"))
    };
}
<!DOCTYPE html>

<html>
<head>
    <title>FileUltimate Examples - ASP.NET MVC (C#)</title>

    @Html.RenderCss(exampleExplorer)
    @Html.RenderJs(exampleExplorer)

</head>
<body>
    @Html.RenderControl(exampleExplorer)
</body>
</html>
