@using GleamTech.Web.Mvc
@using GleamTech.FileUltimate
@model FileManager

<!DOCTYPE html>

<html>
<head>
    <title>Overview</title>
    @Html.RenderCss(Model)
    @Html.RenderJs(Model) @*If you choose, JS can also be rendered at the bottom of the page before the closing </body> tag*@
</head>
<body style="margin: 20px;">

@using (Html.BeginForm())
{
    <text>Change language: </text>@Html.DropDownList("languageSelector", (SelectList) ViewBag.LanguageList, new {onchange = "this.form.submit();"})
    <br/><br/>
}

@Html.RenderControl(Model)

</body>
</html>
