<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="GleamTech.Common" version="5.5.5" />
  <package id="GleamTech.VideoUltimate" version="3.6.1" />
  <package id="GleamTech.ImageUltimate" version="5.6.1" />
  <package id="GleamTech.DocumentUltimate" version="6.6.2" />
  <package id="GleamTech.FileUltimate" version="8.5.1" />
</packages>