<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="GleamTech.Common" version="5.2.0" />
  <package id="GleamTech.VideoUltimate" version="3.3.0" />
  <package id="GleamTech.ImageUltimate" version="5.3.0" />
  <package id="GleamTech.DocumentUltimate" version="6.2.1" />
  <package id="GleamTech.FileUltimate" version="8.2.1" />
</packages>