<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GleamTech.Core" version="1.9.1" targetFramework="net40"/>
  <package id="GleamTech.ExamplesCore" version="1.8.4" targetFramework="net40"/>
  <package id="VideoUltimate" version="1.4.7" targetFramework="net40"/>
  <package id="ImageUltimate" version="2.1.7" targetFramework="net40"/>
  <package id="DocumentUltimate" version="3.2.1" targetFramework="net40"/>
  <package id="FileUltimate" version="5.10.0" targetFramework="net40"/>
</packages>
