<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GleamTech.Core" version="2.4.1" targetFramework="net40"/>
  <package id="VideoUltimate" version="1.7.5" targetFramework="net40"/>
  <package id="ImageUltimate" version="3.0.1" targetFramework="net40"/>
  <package id="DocumentUltimate" version="3.15.5" targetFramework="net40"/>
  <package id="FileUltimate" version="5.21.5" targetFramework="net40"/>
</packages>
