<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GleamTech.Core" version="2.1.0" targetFramework="net40"/>
  <package id="VideoUltimate" version="1.7.1" targetFramework="net40"/>
  <package id="ImageUltimate" version="2.3.0" targetFramework="net40"/>
  <package id="DocumentUltimate" version="3.9.0" targetFramework="net40"/>
  <package id="FileUltimate" version="5.17.0" targetFramework="net40"/>
</packages>
