<?xml version="1.0"?>
<configuration>

  <!--
  <appSettings>
    <add key="FileUltimate:LicenseKey" value="QQJDJLJP34..." />  
  </appSettings>
  -->

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <!-- 
    FileUltimate does not depend on any Web.config settings to work (it's config-free for easy deployment).
    However if you want to support the lowest level upload method Html4 which is the only possible method 
    for old browsers without Html5 or Flash or Silverlight support, then you will need to increase the 
    request limits (ASP.NET's default is 4MB) so that you can upload files larger than 4MB on these browsers.  
    Html4 upload method requires the limits to be set to the maximum possible value (2GB) as it sends the whole
    file in a single request (multi-part). Other upload methods use chunking (4MB chunks) so there is no upper limit 
    for them and they do not require or use these settings.
  -->
  <location path="fileuploader.ashx">
    <system.webServer>
      <security>
        <requestFiltering>
          <!-- 
            Maximum value for maxAllowedContentLength (in bytes) is 2147483648 (2GB). 
            maxAllowedContentLength should be always equal to (or greater than) maxRequestLength x 1024.
          -->
          <requestLimits maxAllowedContentLength="2147483648"/>
        </requestFiltering>
      </security>
    </system.webServer>
    <system.web>
      <!-- Maximum value for maxRequestLength (in kilobytes) is 2097152 (2GB) -->
      <httpRuntime maxRequestLength="2097152"/>
    </system.web>
  </location>

</configuration>
