<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net40"/>
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40"/>
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40"/>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40"/>
  <package id="GleamTech.Core" version="2.3.2" targetFramework="net40"/>
  <package id="VideoUltimate" version="1.7.4" targetFramework="net40"/>
  <package id="ImageUltimate" version="3.0.0" targetFramework="net40"/>
  <package id="DocumentUltimate" version="3.11.5" targetFramework="net40"/>
  <package id="FileUltimate" version="5.19.5" targetFramework="net40"/>
</packages>
